.navbar {
  width: 100%;
  background-image: linear-gradient(to right, #00617c, #011d2c);
  padding: 0.7rem 5rem;
}

.navbar .navInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.3rem;
}

.navbar .navInner .esq {
  display: flex;
  width: 50%;
}

.navbar .navInner .esq img {
  width: 150px;
}

.navbar .navInner .esq h1 {
  margin-left: 3rem;
  color: #fff;
  font-weight: 500;
}

.navbar .navInner .dir {
  padding-left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.navbar .navInner .dir i {
  color: #fff;
}

.navbar .navInner .dir form input {
  color: #fff;

  width: 20rem;
  height: 2.4rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  padding-left: 1rem;
}

.navbar .navInner .dir form button {
  position: absolute;
  right: 17.5rem;
  top: 2rem;
  background: transparent;
  color: #fff;
  border-left: 1px solid white;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: 2rem;
  height: 1.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.navbar .navInner .dir .logout {
  color: #fff;
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  background: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #c29d5e;
  border-radius: 0.4rem;
  cursor: pointer;
}

.navbar .navInner .dir .logout i {
  color: #c29d5e;
  margin-right: 0.3rem;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 0.3rem;
  }

  .navbar .navInner {
    flex-direction: column;
    width: 100%;
  }

  .navbar .navInner .esq {
    width: 100%;
  }

  .navbar .esq h1 {
    display: none;
  }

  .navbar .navInner .dir {
    padding-left: 0rem;
    display: flex;
    padding-top: 0.4rem;
    width: 100%;
  }

  .navbar .navInner .dir i {
    display: none;
  }

  .navbar .navInner .dir form {
    width: 100%;
  }

  .navbar .navInner .dir form input {
    width: 100%;
  }

  .navbar .navInner .dir form input button {
    display: none;
    border: 0px;
  }

  .navbar .navInner .dir .logout {
    display: none;
  }
}
