.apresentacoesInner {
  margin-top: 2rem;
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 0.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.apresentacoesInner .apresentacao {
  background-image: linear-gradient(to right, #00617c, #011d2c);
  color: #fff;
  font-size: 1.1rem;
  width: 20rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.apresentacoesInner .apresentacao i {
  margin-left: 0.5rem;
  color: #c29d5e;
}

@media (max-width: 779px) {
  .bannerTitulo2 {
    flex-direction: column;
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    align-items: center;
    justify-content: center;
  }

  .bannerTitulo2 #esq {
    width: 100%;
  }

  .bannerTitulo2 #esq div {
    padding: 0;
    margin-left: 2rem;
  }

  .bannerTitulo2 #esq div img {
    width: 3rem;
  }

  .bannerTitulo2 #esq div h1 {
    font-size: 1rem;
  }

  .bannerTitulo2 #dir {
    flex-direction: row-reverse;
    width: 100%;
    padding-left: 0;
    padding-top: 8px;
    margin: 0;
  }

  .bannerTitulo2 #dir div {
    margin-right: 1.2rem;
  }

  .bannerTitulo2 #dir div h1,
  span {
    font-size: 0.8rem;
  }

  .apresentacoesInner {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
  }

  .apresentacoesInner .apresentacao {
    width: 18rem;
  }
}
