.bannerTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerTitulo .iconeEtitulo {
  width: 50%;
}

.bannerTitulo .iconeEtitulo h1 {
  font-size: 1.4rem;
}

.bannerTitulo .opcoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  width: 50%;
}

.bannerTitulo .opcoes span {
  color: white;
  margin-left: 1rem;
}

.bannerTitulo .opcoes h1 {
  font-size: 1.1rem;
}

.bannerTitulo .opcoes .mg {
  color: #c29d5e;
}

.apresentacoes {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.apresentacoes .novaApresentacao {
  padding-right: 3rem;
  padding-left: 3rem;
  display: flex;
  justify-content: space-between;
}

.apresentacoes .novaApresentacao .btn-novoManual {
  display: flex;
  color: #fff;
  width: 3rem;
  height: 2.5rem;
  background: #00617c;
  border: 0px;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.apresentacoes .apresentacoesInner {
  margin-top: 2rem;
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 0.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

.apresentacoes .apresentacoesInner .apresentacao {
  background-image: linear-gradient(to right, #00617c, #011d2c);
  color: #fff;
  font-size: 1.1rem;
  width: 20rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.apresentacoes .apresentacoesInner .apresentacao i {
  margin-left: 0.5rem;
  color: #c29d5e;
}

@media (max-width: 779px) {
  .bannerTitulo {
    padding: 0 0 0 0;
    flex-direction: column;
  }

  .bannerTitulo .iconeEtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5px;
  }

  .bannerTitulo .iconeEtitulo h1 {
    font-size: 1rem;
  }

  .bannerTitulo .opcoes {
    justify-content: center;
    align-items: center;
    padding-right: 0rem;
    width: 100%;
    padding-top: 5px;
  }

  .bannerTitulo .opcoes span {
    color: white;
    margin-left: 1rem;
  }

  .bannerTitulo .opcoes h1 {
    font-size: 0.8rem;
  }

  .apresentacoes {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .apresentacoes .novaApresentacao {
    padding-right: 0;
    padding-left: 0;
  }

  .apresentacoes .apresentacoesInner {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 0.1rem;
    padding: 0 0 0 0;
  }

  .apresentacoes .apresentacoesInner .apresentacao {
    width: 18rem;
  }
}
